<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pumpingestorfuction20240411003115.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b157eafa-34a3-4317-939c-59e35f6c73eb/resourcegroups/OjusThesisImplementationInstance/providers/Microsoft.Web/sites/PumpIngestorFuction20240411003115</ResourceId>
    <UserName>$PumpIngestorFuction20240411003115</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pumpingestorfuction20240411003115.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>