<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="hubName" value="motorizedvalveIothub"/>
		<add key="hubSharedAccessKey" value="YZizJHTKT9t3Bk4dKHRAMob7jLDEjhoylAIoTJPEUYI="/>
		<add key="deviceSharedAccessKey" value="hHc+/C16d1WAhgo3nDIh96fIMuhU4BzyJAIoTKsm3Ps="/>
		<add key="deviceName" value="LIT101"/>
	</appSettings>
</configuration>